.team{
    position: relative;
    border: 1px solid #000000;
}

.lxg{
    background-color: red;
}

.ua{
    background-color: pink;
}

.house-stark{
    background-color: lightblue;
}

.x-minions{
    background-color: yellow;
}

.addams-f{
    background-color: grey;
}

.product-i{
    background-color: dodgerblue;
}

.dev-ops{
    background-color: burlywood;
}


.meeting-room{
    background-color: blue;
}